.article-list {
  color: #535354;
  background-image: url(../../assets/img/sustainability-footer.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-color: #EDEDED;
  margin-bottom: -1px;
}

.article-list p {
  color: #535354;
}

.article-list h2 {
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .article-list h2 {
    margin-bottom: 25px;
    padding-top: 25px;
  }
}

.article-list .intro {
  max-width: 500px;
  margin: 0 auto;
}

.article-list .intro p {
  margin-bottom: 0;
}

.article-list .articles {
  padding-bottom: 40px;
}

.article-list .item {
  padding-top: 50px;
  text-align: center;
}

.article-list .item .name {
  margin-top: 20px;
  color: inherit;
}

.article-list .item .description {
  margin-top: 15px;
  margin-bottom: 0;
}

.article-list .item .action {
  width: 24px;
  margin: 22px auto 0;
  line-height: 1;
  display: block;
  /*color: #4f86c3;*/
  /*opacity: 0.85;*/
  transition: opacity 0.2s;
  text-decoration: none;
}

.article-list .item .action:hover {
  opacity: 1;
}

.black-background {
  background-color: #313437;
  color: #ffffff;
}

.sepia-background {
  background-color: #e2d8bf;
}

.backgroundVideo {
  object-fit: cover;
}

