.slides, .slides > li, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.white-text {
  color: #ffffff;
}

h2, h3, h4, h5, h6 {
  margin: 10.5px 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
}

a.white-text {
  color: #e5e5e7;
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 25px;
    line-height: 40px;
  }
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 26px;
    line-height: 42px;
  }
}

@media screen and (min-width: 992px) {
  h2 {
    font-size: 27px;
    line-height: 44px;
  }
}

@media screen and (min-width: 1200px) {
  h2 {
    font-size: 28px;
    line-height: 45px;
  }
}

.row {
  margin: 0 auto;
}

.margin-top {
  margin-top: 1em;
}

.btn-primary {
  background-color: #4bb485;
  border: 1px solid #4bb485;
}

.btn-primary:hover {
  background-color: #419c73;
  border: 1px solid #419c73;
}

a {
  color: #4bb485;
  border-bottom: 1px dashed transparent;
}

a:hover {
  color: #4bb485;
  border-bottom: 1px dashed #4bb485;
  text-decoration: none;
}

.btn-primary:focus {
  background-color: #4bb485;
  border: 1px solid #4bb485;
}

.btn-primary:focus, .btn-primary:focus:active {
  box-shadow: 0 0 0 .2rem rgba(125,172,72,.5);
}

a.white-text:hover {
  color: #ffffff;
  border-bottom: 1px dashed #ffffff;
  text-decoration: none;
}

.green-quotebox {
  width: 100%;
  background: #4bb485;
  padding: 1em 1em;
  text-align: center;
  color: #4a5656;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  position: relative;
  margin: 0 auto;
}

.green-quotebox:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 1em solid transparent;
  border-right: 1em solid #4bb485;
  border-top: 1em solid #4bb485;
  border-bottom: 1em solid transparent;
  right: 1em;
  bottom: -1em;
}

.flexslider .slides > li:first-child, .newsslider .slides > li:first-child {
  display: block;
  -webkit-backface-visibility: visible;
}

.slides li {
  background-attachment: fixed;
}

.padding-05em {
  padding: 0.5em;
}

.white-line {
  border-top: 1px solid #ffffff;
}

.newsslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

.row {
  margin: 0 auto;
}

h2, h3, h4, h5, h6 {
  margin: 10.5px 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 25px;
    line-height: 40px;
  }
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 26px;
    line-height: 42px;
  }
}

@media screen and (min-width: 992px) {
  h2 {
    font-size: 27px;
    line-height: 44px;
  }
}

@media screen and (min-width: 1200px) {
  h2 {
    font-size: 28px;
    line-height: 45px;
  }
}

.row {
  margin: 0 auto;
}

.row {
  margin: 0 auto;
}

