.backgroundVideo {
  object-fit: cover;
}

h1 {
  text-align: center;
  font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "Arial", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", sans-serif;
  font-weight: 300;
}

h2, h3, h4, h5, h6 {
  margin: 10.5px 0;
  font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "Arial", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", sans-serif;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .banner-title {
    font-size: 42px;
    line-height: 67px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 30px;
    line-height: 49px;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 25px;
    line-height: 40px;
  }
}

@media screen and (min-width: 768px) {
  .banner-title {
    font-size: 44px;
    line-height: 71px;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 31px;
    line-height: 44px;
  }
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 26px;
    line-height: 42px;
  }
}

@media screen and (min-width: 992px) {
  .banner-title {
    font-size: 49px;
    line-height: 79px;
  }
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 32px;
    line-height: 48px;
  }
}

@media screen and (min-width: 992px) {
  h2 {
    font-size: 27px;
    line-height: 44px;
  }
}

@media screen and (min-width: 1200px) {
  .banner-title {
    font-size: 51px;
    line-height: 82px;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 33px;
    line-height: 50px;
  }
}

@media screen and (min-width: 1200px) {
  h2 {
    font-size: 28px;
    line-height: 45px;
  }
}

.banner-title {
  font-weight: bold;
}

.row {
  margin: 0 auto;
}

.fullscreen {
  padding: 0!important;
  margin: 0!important;
}

.row-deep {
  padding-bottom: 3em;
  padding-top: 2.5em;
}

.logo-header {
  position: absolute;
  z-index: 3;
  top: 0;
  overflow: hidden;
}

.video-background {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.video-padding {
  padding-top: 3.5em;
}

@media (max-width: 767px) {
  .logo-header {
    top: 0;
  }
}

@media (min-width: 768px) {
  .logo-header {
    top: 0;
  }
}

@media (min-width: 992px) {
  .logo-header {
    top: 0;
  }
}

.page-header {
  position: absolute;
  z-index: 3;
  overflow: hidden;
  top: 45%;
  left: 17%;
  color: #ffffff;
}

@media (min-width: 768px) {
  .page-header {
    left: 17%;
    top: 45%;
  }
}

@media (min-width: 992px) {
  .page-header {
    left: 16%;
    top: 45%;
  }
}

@media (max-width: 767px) {
  .page-header {
    left: 0;
    top: 36%;
  }
}

.page-header .banner-caption {
  text-align: center;
}

@media (max-width: 767px) {
  .page-header .banner-caption {
    display: none;
  }
}

@media (min-width: 768px) {
  .page-header .banner-caption {
    display: block;
  }
}

.row {
  margin: 0 auto;
}

.fullscreen {
  padding: 0!important;
  margin: 0!important;
}

.row-deep {
  padding-bottom: 3em;
  padding-top: 2.5em;
}

.logo-header {
  position: absolute;
  z-index: 3;
  top: 0;
  overflow: hidden;
}

.video-background {
  position: relative;
  height: 100%;
  overflow: hidden;
  background-color: #313437;
}

.video-padding {
  padding-top: 3.5em;
}

@media (max-width: 767px) {
  .logo-header {
    top: 0;
  }
}

@media (min-width: 768px) {
  .logo-header {
    top: 0;
  }
}

@media (min-width: 992px) {
  .logo-header {
    top: 0;
  }
}

